# Stuff that pops up locally for me - @jeremyfelt
*.sublime*
.DS_Store
.idea

/database/data/
/.vagrant

www/wordpress-default/
www/wordpress-trunk/
www/wp-cli/

wp-content
!wp-content/plugins
!wp-content/themes

# This is a file intended for hooking in a custom Vagrant configuration on up
/Customfile

